@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}

    h1 {
        font-size: 1.8em;
        color: #333;
        margin-bottom: 10px;
        text-align: center; 
      }

      p {
        font-size: 1.2em;
        margin-bottom: 20px;
        color: #555;
        text-align: center; 
      }

   